{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<!--<h1 class="">New Arrivals</h1>-->
<div id="newMoviesCarousel" class="carousel slide mb-5" data-bs-interval="false" data-bs-ride="carousel"
     data-pause="hover">
    <div class="carousel-inner">
        {% for i in range(0,3) %}
        {% if i == 0 %}
        <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
                {% endif %}
                <iframe
                        height="550"
                        src="{{ newMovies[i][6] }}"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                        class="w-100"
                ></iframe>
                <div class="bg-graphite text-center text-white py-4 px-5">
                    <a href="{{url_for('moviePage', movie=newMovies[0][0])}}" class="btn btn-warning px-5"><h1
                            class="fw-bold">{{ newMovies[i][0]}}</h1></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="container text-white">
    <h1 class="">Featured Movies</h1>
    {% for movie in featuredMovies %}
        <h6 class="">{{movie}}</h6>
    {% endfor %}
</div>
    {% endblock %}