{% extends "base.html" %} {% block title %} Movies {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-graphite-transparent-74 py-3">
        <div class="card bg-graphite-transparent-42 p-2">
            <div class="row py-3">
                <div class="col-lg-8 col-12">
                    <form class="d-flex">
                        <input
                                class="form-control me-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                        />
                        <button class="btn btn-outline-warning type=" submit
                        ">Search</button>
                    </form>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="dropdown">
                        <a
                                class="btn btn-graphite dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownSort"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Sort By
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="dropdown">
                        <a
                                class="btn btn-graphite dropdown-toggle"
                                href="#"
                                role="button"
                                id="dropdownFilter"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            Filter By
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for movie in movieRecords %}
            <div class="col-lg-3 col-md-6 col-12 py-3">
                <a href="{{url_for('moviePage', movie=movie[0])}}" class="text-decoration-none">
                    <div class="card border-0 rounded">
                        <img
                                src="{{movie[7]}}"
                                class="card-img-top"
                                alt="..."
                        />
                        <div class="card-body bg-graphite rounded-bottom text-white">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title">{{movie[0]}}</h5>
                                </div>
                                <div class="col-3">
                                    <h6 class="">
                                        <strong> 9.8 </strong>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
